{% extends "oscar/dashboard/layout.html" %}

{% block title %}
    Change Password | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
        <li><a href="{% url 'marketplace:profile' %}">Profile</a></li>
        <li class="active">Change Password</li>
    </ul>
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <h3>Change Password</h3>
                <p>
                    Please enter your current password and choose a new one.
                    Your new password must be at least 12 characters long.
                </p>
                
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                {{ field.label }}
                            </label>
                            <div class="col-sm-6">
                                {{ field }}
                                <span class="help-block">
                                    {{ field.help_text }}
                                </span>
                                {% if field.errors %}
                                    <span class="error">
                                        {{ field.errors }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary">
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Password Security</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Minimum 12 characters</li>
                        <li>Mix of letters, numbers, and symbols</li>
                        <li>Avoid common words and patterns</li>
                        <li>Never share your password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
